#wrap{
    width: 640px;
    height: 0 auto;
}
#check{
    border: 1px solid black;
    text-align: center;
}
h1{
    font-size: 1em;
    background: black;
    color: white;
    padding: 10px;
    margin: 0;
    letter-spacing: 1px;
}
h2{
    color: red;
    font-size: 1.5em;
}
p{
    text-align: center;
    line-height: 2;
}
.smalltext{
    text-align: center;
    font-size: 1em;
}
.accent{
    color: blue;
}