h1{
            border-bottom: 3px solid rgb(75, 70, 70);
            padding-bottom: 5px;
        }
        p{
            border: 3px dotted blue;
            padding: 10px;
        }
        .wrap{
            width: 600px;
            margin: 0 auto;
            padding: 10px;
        }
        /* .는 같은 폴더 내의 폴더, ..는 상위 폴더 */
        .bg{
            background: url("../images/flowers-g13e5cb177_1920.png") no-repeat;
            height: 1000px;
            width: 1000px;
            /* 반지름의 길이 - 10px */
            background-size: cover;
            margin: 0 auto;
        }