#wrap{
    width: 1000px;
    margin: 0 auto;
}
nav{
    width: 800px;
    text-align: right;
    background-color: ivory;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    margin: 20px;
    border-top: 2px solid #333;
    line-height:  20px;
}
a{
    text-decoration: none;
    float: left;
}
li:hover{
    background-color: azure;
}
section{
    padding-left: 20px;
}
