*{margin: 0; padding: 0;}
#container{width: 500px; border: 2px solid #ccc; margin: 20px;}
h1{padding-bottom: 5px;}
p{line-height: 2;}
span{color: red;}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@500&display=swap');
